## App

## Staging Directories
docker_staging*

## System
.env

## Configs
.config.toml
config.toml

## Python
*.py[co]
__pycache__
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
dist

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

## caches
cachedir
.cache
data/

# Mac
.DS_Store

## temp files
*.bk.*

## private files
.private

## vscode
.vscode

## artifacts
*.pkl
concatenated.py
data/models